@media (min-width: 992px) {
    .logo-holder img {
        max-height: 100px !important;
    }
}

.footer-logo {
    max-height: 50px !important;
}

.text-justify {
    text-align: justify !important;
}

.contact {
    color: #000 !important;
}